body {
    background: #1c1c1c;
}
aside{
    float: left;
    font-size: medium;
    font-weight: 700;
    background: #181818;
    width: 16%;
    padding: 0.5%;
    height: 100vmax;
    border-right: 5 px solid #4d4d4d;
    color: #fff;
    position: fixed;
}
aside ul {
    font-size: 19px;
    list-style:none
    text-align:left;
    padding:0.5%;
}
aside ul li {
    font-weight: 600;
    color: #c0c0c0;
    display: block;
    margin-top:20px;
    transition: transform .2s ease;
}
aside ul li:hover, aside ul a:hover {
    color:#008000;
    text-decoration: none;
    transform: scale(1.05);
}
main {
    color:#eeeeee;
}
.welcome h2 { font-size: 50px;}
.welcome p {max-width: 400px; margin: 20px auto;}

.auth {
    text-align:right;
    margin-right:30px;
    text-decoration: none;
}
.auth a{
    font-size:30px;
    font-weight: 800;
    color: #c0c0c0;
    display: block;
    margin-right:2%;
    transition: transform .2s ease;

}
.auth a:hover{
    color:#008000;
    text-decoration: none;
    transform: scale(1.01);

}

.block {
    margin-left: 16%
}

.songs ul {
}
.songs ul li {
    list-style-type: none;
    margin: 0 10px 10px 0;
    vertical-align:top;
}