body {
    background: #1c1c1c;
}
aside{
    float: left;
    font-size: medium;
    background: #181818;
    width: 16%;
    padding: 1%;
    height: 100vmax;
    border-right: 5 px solid #4d4d4d;
    color: #fff;
    position: fixed;
}
aside ul {
    list-style:none
    text-align:left;
    padding:0;
}
aside ul li {

    font-weight: 700;
    color: #c0c0c0;
    display: block;
    margin-top:20px;
    transition: transform .2s ease;
}
aside ul li:hover, aside ul a:hover {
    color:#008000;
    text-decoration: none;
    transform: scale(1.05);
}
main {
    color:#fff;
}
main .welcome h2 { font-size: 50px;}
main .welcome p {max-width: 400px; margin: 20px auto;}

main .auth {
    text-align:right;
    margin-right:150px;
    text-decoration: none;
}
main .auth a{
    font-size:large;
    font-weight: 800;
    color: #c0c0c0;
    display: block;
    margin-right:2%;
    transition: transform .2s ease;

}
main .auth a:hover{
    color:#008000;
    text-decoration: none;
    transform: scale(1.01);

}

main .songs {
    margin-left: 15%
}
main .songs ul {
}
main .songs ul li {
    list-style-type: none;
    margin: 0 10px 10px 0;
    vertical-align:top;
}