{% extends 'main/layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

{% if songs %}
        <h3>Songs:</h3><br>
    <div class="songs">
        <ul>
            {% for item in songs %}
                {% if item.file %}
                    <li>
                    {{ item.track_number }}
                    <audio controls>
                        <source src="{{ item.file.url }}" type="audio/mp3">
                    </audio>
                    {{ item.title }} {{ item.artist.name }} {{ item.song_duration }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<br>
{% if artists %}
    <h3>Artists:</h3><br>
    <div class="artists">
    {% for artist in artists %}
        <a href="artist/{{artist.id}}">{{ artist.name }}</a>
    {% endfor %}
    </div>
{% endif %}
<br>
{% if albums %}
    <h3>Albums :</h3><br>
    <div class="albums">
    {% for album in albums %}
        <a href="album/{{album.id}}">{{ album.title }}</a>
    </div>
    {% endfor %}
{% endif %}
{% endblock %}