{% extends 'main/layout.html' %}
{% block title %}{{title}}{% endblock%}
{% block content %}

    <div class="welcome">
        <h2><p>Welcome {{request.user.get_username}}!</p></h2>
    </div>
    <main>
        <div class="songs">
        <ul>
            {% for item in songs %}
                {% if item.file %}
                    <li>
                    {{ item.track_number }}
                    <audio controls>
                        <source src="{{ item.file.url }}" type="audio/mp3">
                    </audio>
                    {{ item.title }} {{ item.artist.name }} {{ item.song_duration }}
                        <i class="far fa-heart"></i>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        </div>
    </main>
{% endblock %}