{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no,
     initial-scale=1.0,maximum-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block styles %}


    {% endblock %}
</head>
<body>
    <aside>
    <aside1>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i>Home</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-address-card"></i>About Us</li></a>
            <a href=""><li><i class="far fa-clock"></i>Recently Played</li></a>
            <a href=""><li><i class="far fa-heart"></i>Liked Songs</li></a>
            <a href=""><li><i class="fas fa-paper-plane"></i>Contacts</li></a>
        </ul>
    </aside1>

    </aside>
    <main>
        <h1 class="auth">
            <a href="{% url 'user' %}"><i class="fas fa-user-circle"></i>
                {% if request.user.is_authenticated %}
                {{request.user.get_username}}
                {% else %}
                Sign In
                {% endif %}
            </a>
        </h1>


        {% block content%}


        {% endblock %}
        <p>

        <div class="songs">
            <table border="1">
                {% for item in songs %}
                    {{ item.artist }}
                    <img src="{{ item.cover.url }}" width="75" height="75">
                <audio controls>
                    <source src="{{ item.path.url }}" type="audio/mp3">
                </audio>
            </table>
        </div>
        {% endfor %}
        </p>
    </main>
</body>
</html>
