{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{title}}{% endblock%}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}
{% block content %}

  <div class="container">

    <h1>Sign In</h1>
    <p>Please fill in this form to create your account.</p>
    <hr>
    <form method="post">
    {% csrf_token %}
      <table border="1">
        {{form}}
      </table>

    <div class="clearfix">
      <button class="btn btn-success" type="submit" >Add</button>
    </div>
    </form>
  </div>
{% endblock %}